.YousufBD img{width:270px;}

.YousufBD{
    background-color:#FFFBF0;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    }

.SecEnd{
        padding-left: 5px;
        margin-bottom: 10px;
    }

.half{
    width:100%;
}